{% extends "base.html" %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="content"> Welcome to <span style="color:#198b90">my face recognition app!</spanstyle></h3>
    <br>
    <p class="content">
        This is a test for a face gender recognition application usign a model trained with features from images extracted using PCA. All the images and preprocessing was done using OpenCV. The best model was obtained running pycaret into the dataset. The deployment was developed using Flask.
    </p>
</div>

{% endblock %}