<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BASE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h1 >Hi!</h1>
    <a href="{{ url_for('base') }}">Go to base</a><br>
    <a href="{{ url_for('index') }}">Go to index</a>
    {% block bodyblock %}
    <h1 class="change">Welcome to base html!</h1>
    <p>This is base html.</p>
    {% endblock%}
<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>